In [36]:
import pandas as pd
import numpy as np
import nltk
from textblob import TextBlob
from nltk.corpus import stopwords
import nltk.stem
from nltk.stem.porter import *

In [28]:
column_names=['Sentiment','id','Time','Query','Username','Tweet']
df = pd.read_csv('/run/media/pranj/Asus/KaggleDatasets/training.1600000.processed.noemoticon.csv',names=column_names, encoding='ISO-8859-1')

In [29]:
df.drop(columns=['id','Time','Query','Username'],inplace=True)
df.head()

   Sentiment                                              Tweet
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [30]:
new_df=df.sample(50000,random_state=42)
new_df.head()

        Sentiment                                              Tweet
541200          0             @chrishasboobs AHHH I HOPE YOUR OK!!!
750             0  @misstoriblack cool , i have no tweet apps  fo...
766711          0  @TiannaChaos i know  just family drama. its la...
285055          0  School email won't open  and I have geography ...
705995          0                             upper airways problem

## START PREPROCESSING

In [31]:
#remove @ 
#remove links 
#remove names
#removes punctuations
#convert to all lowercase
#stopword removal
#removing numbers
#stemming 
#removing emoji (replace them by their text description)

In [43]:
import re
stop_words=set(stopwords.words('english'))
stemmer=PorterStemmer()
def preprocess(text_data):
    # Convert to lowercase
    text = text_data.lower()
    
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove URLs/links
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    # Remove @mentions
    text = re.sub(r'@\S+', '', text)
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Correcting spellings
    # text = str(TextBlob(text).correct()) #taking too much time

    # Removing stopwords
    text = " ".join([word for word in text.split() if word not in stop_words])

    # Stemming 
    text = [stemmer.stem(text) ]
    # text = ' '.join(stem)
    return text

In [44]:
new_df['cleaned_text']=new_df['Tweet'].apply(preprocess)
new_df[['Tweet','cleaned_text']]

,Tweet,cleaned_text
541200,@chrishasboobs AHHH I HOPE YOUR OK!!!,a h h h h o p e o k
750,"@misstoriblack cool , i have no tweet apps fo...",c o o l t w e e t a p p s r a z r
766711,@TiannaChaos i know just family drama. its la...,k n o w f a m i l y d r a m a l a m e h ...
285055,School email won't open and I have geography ...,s c h o o l e m a i l w o n t o p e n ...
705995,upper airways problem,u p p e r a i r w a y s p r o b l e m
...,...,...
199266,On the way home. Tired. I don't wanna babysit,w a y h o m e t i r e d d o n t w a n ...
210814,Well that was ten sneezes in a row. My allergi...,w e l l t e n s n e e z e s r o w a l ...
180674,can't go out tonight car is acting funny wat...,c a n t g o t o n i g h t c a r a c t ...
364859,Headacheeeee,h e a d a c h e e e e e
172400,@tommcfly you and the guys should come down he...,g u y s c o m e f u c k i n g f r e e z ...

In [34]:
import spacy

nlp = spacy.load("en_core_web_sm")

text = "Ths is a really nce day!"

doc = nlp(text)

cleaned_text = " ".join([token.text for token in doc if not token.is_stop])
print(cleaned_text)  # "Ths nce day!"

Ths nce day !

In [39]:
stemmer=PorterStemmer()
plurals = ['caresses', 'flies', 'dies', 'mules', 'denied',
            'died', 'agreed', 'owned', 'humbled', 'sized',
            'meeting', 'stating', 'siezing', 'itemization',
            'sensational', 'traditional', 'reference', 'colonizer',
            'plotted']

In [40]:
singles = [stemmer.stem(plural) for plural in plurals]
print(' '.join(singles))

caress fli die mule deni die agre own humbl size meet state siez item sensat tradit refer colon plot